#hidden-fields, #hidden-fields2{
    display: none;
}


.btn{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

.table, .th {
    border:1px solid black;
    border-collapse: collapse;
  }

  .buttons {
    text-align: center;
    align-content: center;
  }

  .w-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  p {
    color: red;
  }

ul, li {
    background-color: burlywood;
}

.lorem{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#button {

    background-color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border: 1px;
    border-color: black;
}

#button:hover, #RB1, #RB2, #RB3{
    cursor: pointer;
}


